* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-color: black;
}

.container {
    width: 95%;
    margin: auto;
}


.title {
    font-family: 'Lobster', cursive;
    border-bottom: 1px solid red;

}

.carousel {
    width: 3000px;
    margin: auto;
    margin-top: 10px;

}

.main {
    overflow: hidden;
    width: 95%;
    margin: 0 auto;
}

.image {
    width: 60%;
    display: inline-block;
    vertical-align: baseline;
    height: 70vh;
    background-image: url('images/main.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.card {
    display: none;
    vertical-align: top;
    width: 1200px;

}


.text {
    width: 30%;
    display: inline-block;
    vertical-align: baseline;
    margin-left: 5%;
}

.text>h1 {
    margin-bottom: 25px;
    font-size: 22px;
}

.image-1 {
    background-image: url('images/main.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.image-2 {
    background-image: url('images/featured.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.image-3 {
    background-image: url('images/repair.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Card progress bar */
.circle {
    display: inline-block;
    vertical-align: center;
    border: 1px solid whitesmoke;
    border-radius: 100%;
    width: 10px;
    height: 10px;

}

.circle:hover {
    border: 1px solid turquoise;
    cursor: pointer;
}

.selected {
    background-color: whitesmoke;
}

.selected:hover {
    border: 1px solid whitesmoke;
}

.progress-bar {
    padding-left: 45%;
}



.emphasis {
    border-bottom: 1px solid rgb(255, 39, 39);
}


/* Dropdown buttons */
.display {
    display: inline-block;
}

.drop-down-menu {
    border: 1px solid rgb(255, 39, 165);
    display: inline-block;
    width: 200px;
    position: absolute;
    z-index: 10;
    height: 200px;
    background-color: rgba(20, 20, 20, 0.95)
}

.dropbtn {
    color: white;
    padding: 16px;
    border: none;
    display: inline-block;
    width: 200px;
    font-size: 18px;
    text-align: center;
    border-bottom: 3px solid transparent;
    font-family: 'Bebas Neue', sans-serif;
    background-color: transparent;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown {
    display: inline-block;
    width: 200px;
    text-align: center;
    border-bottom: 3px solid transparent;
    font-family: 'Bebas Neue', sans-serif;
}



.dropdown:first-of-type {
    margin-right: 23%;
}

.dropdown:last-of-type {
    margin-left: 23%;
}


.dropdown-content {
    display: none;
    position: absolute;
    color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: rgba(82, 82, 82, 0.9);
    border: 1px solid rgb(255, 39, 165);

}

.dropdown-content a {
    font-size: 16px;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Bebas Neue', sans-serif;

}


.dropdown-content a:hover {
    color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: rgb(255, 39, 165);

}