*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif;
}

header{
    height:75px;
    background-color: #3E5C9A;
}

#banner-text{
    line-height:75px;
    color:whitesmoke;
    display:inline-block;
    vertical-align: middle;
    width: 270px;
}

#login-form{
    display:inline-block;
    vertical-align:middle;
    color:whitesmoke;
    width: calc(100% - 300px);
    min-width:350px;
    text-align: right;
    
}

.form-control{
    display:inline-block;
    vertical-align: middle;
    height:49px;
}

.form-control label{
    display:block;
    text-align:left;
    font-size: .8rem;
    
}
.form-control input{
    background-color: #E8F0FE;
    border:none;
    height: 20px;
}

#log-in{
    background-color:#4774c7;
    border:1px solid black;
    width:50px;
    height:24px;
    color:whitesmoke;
    cursor: pointer;
    display:inline-block;
    vertical-align:middle;
}
#log-in:hover{
    background-color: #3E5C9A;
}
.content{
    width:50%;
    min-width:650px;
    margin:auto;
}


main{
    background-color: #EDF0F5;
}

.col{
    display:inline-block;
    width:45%;
    margin:2%;
    min-height:65vh;
    vertical-align: top;
}

#welcome{
    padding-top:25px;
}
.validation{
    color:red;
    text-align: left;
    font-size:.75rem;
    display: none;
}


table {
    margin-top:50px;
    border-spacing: 15px 25px;
}
tr{
    font-size:1.05rem;
}

footer {
    font-size: .75rem;
}

form{
    padding:10px;
}
form input{
    height:35px;
    line-height:35px;
    font-size:20px;
    border-radius:2.5px;
    border: none;
}
#firstName{
    margin-right:5%;
}
#lastName, #firstName{
    width:47%;
    margin-top:25px;
}
.sign-up-control{
    width:100%;
    margin-top:25px;
}

[type=submit]{
    height:50px;
    width:125px;
    color:white;
    font-size:1.25rem;
    border-radius:5px;
    background-color:#5F954B;
    margin-left:auto;
    margin-top:25px;
    display:block;
}
@media only screen and (min-width:900px){
    .content{
        width:65%;
    }

    
}